/*
Recuperer les différentes médias quéries pour PC et tabletes.
De base le CSS s'applique pour les mobiles pour une raison d'obtimisation du temps de chargement

body.css contient les règles css concernant la structure globale du site
*/

html, body {
    padding: 0;
    margin: 0;
}

body
{   background: #fff;
    color: #292f33;
    font-size: 14px;
    line-height: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.section1
{
    background-image: url("https://badtouristpictures.files.wordpress.com/2015/06/yosemite-2.jpg");
}