/*
Recuperer les différentes médias quéries pour PC et tabletes.
De base le CSS s'applique pour les mobiles pour une raison d'obtimisation du temps de chargement
body.css contient les règles css concernant la structure globale du site
*/

html, body {
    padding: 0;
    margin: 0;
    background-color: #36465d;
}

*
{
    font-family: 'Roboto', sans-serif;
}

a:link
{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body
{

}

#profile
{

}

.section_news
{

}

.section_home

{
    margin:0;
    padding:0;
    background: url('../img/sanfr.jpeg') no-repeat center center fixed;
    background-size: cover;
}

.section_home img
{
    width: 150px;
}

#title_section_news
{
    float: left;
    height: 100%;
    width: 40%;
    background-color: white;
}

/* CONTENT SECTION */
#title_section_content
{
    float: left;
    height: 100%;
    width: 40%;
    background-color: #f8c433;
}

#title_section_social
{
    float: left;
    height: 100%;
    width: 40%;
    background-color: #f037a5;
}

#table_section_content
{
    width: 60%;
    float: right;
    height: 100%;
}

#title_section_news h1, #title_section_social h1, #title_section_content h1
{
    font-size: 55pt;
    font-weight: bold;
    line-height: 77px;
}

#text_content
{
    display: block;
    width: 350px;
    position: relative;
    top: 60px;
    margin: auto;
}

#text_content #button_action
{
    text-align: center;
    padding: 20px;
    font-size: 15pt;
    border: solid 2px #3d4543;
    font-weight: 600;
    border-radius: 4px;
}


#table_section_content table td
{

}

#table_section_content table
{
    width: 100%;
    border-collapse: collapse;
}

/* CONTENT SECTION */


#table_section_news
{
    width: 60%;
    float: right;
    height: 100%;
}

#title_section_news p
{
    font-size: 38.5pt !important;
}

#table_section_news table
{
    width: 100%;
}

#table_section_news table td
{
    height: 34%;
    width: 50%;
}

/* Background Settings News */
#time_magazine, #courrierinter_magazine, #liberation_magazine
{
    background-color: #fafafa;
}

#usatoday_magazine, #figaro_magazine, #lemonde_magazine
{
    background-color: #f2f2f2;
}

/* Background Settings Content */
#barrack_content
{
    background-color: #cf3630;
}

#charlie_content
{
    background-color: #1ba848;
}

#robin_content
{
    background-color: #f8f7e5;
}

#gims_content
{
    background-color: #0b0509;
}

#david_guetta_content
{
    background-color: #1a181d;
}

/* Pictures Size Setting */
#time_magazine img
{
    width: 200px;
}

#figaro_magazine img
{
    width: 200px;
}

#lemonde_magazine img
{
    width: 140px;
}

#courrierinter_magazine img
{
    width: 250px;
}

#usatoday_magazine img
{
    width: 241px;
}

#liberation_magazine img
{
    width: 200px;
}

#contact
 {
     background-color: #fafafa;
     height: 70%;
 }

#footer
{
    background-color: #3d4543;
    height: 30%;
}

#layout_connected
{
    margin: auto;
    width: 1000px;
}

#feed
{
    float: left;
    width: 600px;
}

#categories
{
    float: left;
    column-gap: 120px;
    column-count: 2;
}

.post
{
    background: #2f3d51 !important;
    width: 100%;
    color: white;
    font-size: 10pt;
    border-radius: 2px;
    height: 120px;
    padding: 11px 10px 11px 13px;
    display: block;
    margin-top: 10px;
    border: 0px;
    box-sizing: border-box;
}

.item_cat
{
    background: #2f3d51 !important;
    width: 120px;
    color: white;
    font-size: 10pt;
    border-radius: 2px;
    height: 120px;
    padding: 11px 10px 11px 13px;
    display: block;
    margin-top: 10px;
    border: 0px;
    box-sizing: border-box;
}

