/* Div Totale de preRegister */
.preRegisterDiv
{
    border: 1px solid #e1e8ed;
    box-shadow: none;
    border-radius: 4px;
    height: 206px;
    width: 302px;
    padding: 10px;

    background-color: hotpink;
}


/* la div des input de formulaires */
.registerField
{
    padding: 10px;
    background-color: #2EBE21;
}

/* Les input des formulaires  */
input[type=text], input[type=email]
{
    width: 100%;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus
{
    border: 3px solid #444;
}
