.loginDiv
{
    border: 1px solid #e1e8ed;
    background: white;
    box-shadow: none;
    float: right;
    margin-bottom: 11px;
    width: 300px;
    padding:15px;
    border-radius: 4px;
}

.loginDiv .field
{
    display: block;
    margin: 6px auto;
    width: 276px;
    font-size: 12px;
}

.loginDiv input
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccd6dd;
    height: 30px;
}

.loginDiv input[type="text"]
{

}

.loginDiv input[type="password"]
{

}

.loginDiv input[name="password"], .loginDiv input[name="username"]
{
    display: inline-block;
}

.loginDiv .buttonSignup
{
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.05)) #55acee;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#0C000000)";
    border: 1px solid #3b88c3;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.15);
    height: 30px;
}
