

.registerInput
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

#preRegister
{
    border: 1px solid #e1e8ed;
    background: #fff;
    box-shadow: none;
    border-radius: 4px;
    height: 206px;
    float: right;
    width: 300px;
}

input[type=text]:focus, input[type=email]:focus
{
    border: 3px solid #444;
}