/*
Recuperer les différentes médias quéries pour PC et tabletes.
De base le CSS s'applique pour les mobiles pour une raison d'obtimisation du temps de chargement

body.css contient les règles css concernant la structure globale du site
*/

header
{
    display: inline-block;
    border-bottom: solid 1pt #9aa2ad;
    margin: auto;
    width: 100%;
    height: 54px;
}

header .search_bar
{
    background: #2f3d51 !important;
    width: 500px;
    color: white;
    font-size: 10pt;
    height: 45px;
    border-radius: 2px;
    padding: 11px 10px 11px 13px;
    display: block;
    margin-top: 5px !important;
    border: 0px;
    box-sizing: border-box;
}

header #logo_txt
{
    width: 100px;
    text-align: center;
    margin-top: 11px;
}

header .logout_button
{
    vertical-align: middle;

}

.logout
{
    float: right;
    margin-right: 45px;
    height: 100%;
}

#profile, .logout, header form
{
    display: inline-block;
}

