/*
Recuperer les différentes médias quéries pour PC et tabletes.
De base le CSS s'applique pour les mobiles pour une raison d'obtimisation du temps de chargement

body.css contient les règles css concernant la structure globale du site
*/

header
{
    border-bottom: 1px solid #e1e8ed;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    height: 46px;
}

header #logo_txt
{
    width: 100px;
    line-height: 46px;
    vertical-align: middle;
}