.user_section h1
{
    text-align: center;
    font-size: 30pt;
}

.user_section
{
    margin: 10px auto auto auto;
    width: 680px;
    padding-top: 50px;
}

.user_section table
{
    width: 100%;
}

.user_section #categories, .user_section #followers, .user_section #following
{
    width: 98%;
    margin: 1%;
    padding-bottom: 20px;
    border-bottom: 1px solid #A2A8B1;
    display: table;
    background-color: #2f3d51;
    color: #ffffff;
}


#stream_button, #followers_button, #following_button {
    border-radius: 3px;
    display: inline-block;
    background-color: #2f3d51;
    margin: 1%;
    cursor: pointer;
    width: 153px;
    padding: 29px;
    color: white;
    font-size: 12pt;
    text-align: center;
}