.user_section h1
{
    text-align: center;
    font-size: 30pt;
}

.user_section
{
    margin: 10px auto auto auto;
    width: 680px;
    padding-top: 50px;
}

.user_section #categories
{
    border: solid 1px blue;
}

.user_section #followers
{
    border: solid 1px blue;
}

.user_section #following
{
    border: solid 1px blue;
}

#stream_button, #followers_button, #following_button {
    border-radius: 3px;
    display: inline-block;
    background-color: #2f3d51;
    margin: 1%;
    cursor: pointer;
    width: 200px;
    height: 100px;
}